body{
    color: red;
    text-align: left;
    font-family:'Courier New', Courier, monospace;
    background-color:beige;
}

#container{
    width: 70%;
    padding: 1em;
    text-emphasis:inherit;
    text-align: left;
    border: 1px solid black;
    margin: auto;
}

#container h1{
    font-size: 40px;
    color:indianred;
}