body{
    color: red;
    text-align: left;
    font-family:cursive;
    background-color:ghostwhite;
}

#cabecera{
    background-color: gold;
    color: purple;
    font-size: x-large;
    margin: 0px;
    padding: 0.5em;
}


#container{
    width: 70%;
    padding: 1em;
    text-emphasis:inherit;
    text-align: left;
    border: 1px solid black;
    margin: auto;
}

#container h1{
    font-size: 40px;
    color:indianred;
}